<div class="mat-elevation-z8">
    <!-- Date filter block -->
    <form class="date-block" [formGroup]="filterForm">
            <div class="date-block__list">
                <mat-form-field>
                    <input matInput [matDatepicker]="fromDate" placeholder="Register from Date (MM/DD/YYYY)"
                        formControlName="fromDate">
                    <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
                    <mat-datepicker #fromDate></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="date-block__list">
                <mat-form-field>
                    <input matInput [matDatepicker]="toDate" placeholder="Register to Date (MM/DD/YYYY)"
                        formControlName="toDate">
                    <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
                    <mat-datepicker #toDate></mat-datepicker>
                </mat-form-field>
            </div>
            <button [disabled]="!filterForm.valid" mat-button color="primary" class="primary"
                (click)="getDateRange(filterForm.value)">Submit</button>
        </form>
    <!-- Filter form -->
    <mat-form-field>
        <input class="full-width" matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by Name">
    </mat-form-field>
    <table mat-table class="full-width-table" matSort aria-label="Elements">
        <!-- Id column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- ActivityId Column -->
        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Activity ID</th>
            <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Location Column -->
        <ng-container matColumnDef="location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
            <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Description Column -->
        <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let activity">{{activity.description}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- hostTeacher Column -->
        <ng-container matColumnDef="hostTeacher">
            <th mat-header-cell *matHeaderCellDef>Host Teacher</th>
            <td mat-cell *matCellDef="let activity">{{getHostTeacher(activity.hostTeacher)}}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- regisPeriodStart Column -->
        <ng-container matColumnDef="regisPeriodStart">
            <th mat-header-cell *matHeaderCellDef>Regis Period Start</th>
            <td mat-cell *matCellDef="let activity">{{convertDate(activity.regisPeriodStart) | date }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- regisPeriodEnd Column -->
        <ng-container matColumnDef="regisPeriodEnd">
            <th mat-header-cell *matHeaderCellDef>Regis Period End</th>
            <td mat-cell *matCellDef="let activity">{{convertDate(activity.regisPeriodEnd) | date }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- activityPeriodStart Column -->
        <ng-container matColumnDef="activityPeriodStart">
            <th mat-header-cell *matHeaderCellDef>Activity Start Date</th>
            <td mat-cell *matCellDef="let activity">{{convertDate(activity.activityPeriodStart) | date }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- activityPeriodEnd Column -->
        <ng-container matColumnDef="activityPeriodEnd">
            <th mat-header-cell *matHeaderCellDef>Activity End Date</th>
            <td mat-cell *matCellDef="let activity">{{convertDate(activity.activityPeriodEnd) | date }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <!-- Status Column -->
        <ng-container matColumnDef="pending">
            <th mat-header-cell *matHeaderCellDef>Status</th>
            <td mat-cell *matCellDef="let student">
                <i class="material-icons text-success text-center">done</i>
                <i class="material-icons text-danger text-center">
                        hourglass_empty
                        </i>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="50"
        [pageSizeOptions]="[25, 50, 100]"> </mat-paginator>
</div>