<div class="container">

        <mat-card class="register-card" style="text-align: center;">
    
                <mat-card-title >Add new activity</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content class="p-2">
                <form style="margin: 1em" [formGroup]="form" (submit)="submit()">
                <!-- Name field -->
                <div class="row">
                        <h6>Name</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Activity name" formControlName="name" required #spy>
                                    
                                    <mat-error *ngFor="let validation of validation_messages.name">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('name').hasError(validation.type) &&
                                            (form.get('name').dirty ||
                                            form.get('name').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                                    
                                </mat-form-field>
                        </div>
                       
                </div>
                <!-- Location Field -->
                <div class="row">
                        <h6>Location</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <input matInput placeholder="Location" formControlName="location" required>
                                        
                                            <mat-error *ngFor="let validation of validation_messages.location">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('location').hasError(validation.type) &&
                                                (form.get('location').dirty ||
                                                form.get('location').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                            
                                </mat-form-field>
                        </div>
                </div>
                <!-- Description Field -->
                <div class="row">
                        <h6>Description</h6>
                        <div class="w-100"></div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <textarea style="min-height:70px" matInput placeholder="Description" formControlName="description" required>
                                        </textarea>
                                        <mat-error *ngFor="let validation of validation_messages.email">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('description').hasError(validation.type) &&
                                                (form.get('description').dirty ||
                                                form.get('description').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                            
                                </mat-form-field>
                        </div>
                </div>
                <!-- Register Period Start Field -->
                <div class="row">
                        <h6>Select registration start date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">           
                                     <input class="form-control" type="date" formControlName="regisPeriodStart" required>            
                            </div>
                        </div>
                </div>
                <!-- Register Period End Field -->
                <div class="row">
                        <h6>Select registration end date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">                             
                                        <input class="form-control" type="date" formControlName="regisPeriodEnd" required>    
                            </div>
                        </div>
                </div>
                <!-- Activity Period Start Field -->
                <div class="row">
                        <h6>Select activity start date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">           
                                     <input class="form-control" type="date" formControlName="activityPeriodStart" required>            
                            </div>
                        </div>
                </div>
                <!-- Activity Period End Field -->
                <div class="row">
                        <h6>Select activity end date</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                            <div class="col-sm-6 py-2">                             
                                    <input class="form-control" type="date" formControlName="activityPeriodEnd" required>    
                            </div>
                        </div>
                </div>
               
                <div class="row">
                        <h6>Select host teacher</h6>
                        <div class="w-100"></div>
                        <div class="col-sm-6">
                                
                                    <mat-form-field>
                                <mat-label>Host teacher</mat-label>
                                <mat-select  class="full-width"required formControlName="hostTeacher" required>
                                    <mat-option *ngFor="let teacher of hostTeachers" [value]="teacher.id">
                                        {{ teacher.name }} {{ teacher.surname }}
                                    </mat-option>
                                </mat-select>
                                </mat-form-field>    
                          
                        </div>
                </div>
                
                        
                <mat-divider></mat-divider>
                        <!-- Submit button -->
                        <div class="center p-4">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" >Submit</button>
                        </div>
                    
                      </form>
                    </mat-card-content>
              
          
            </mat-card>

</div>