.example-icon {
  padding: 0 50px;
}

.example-spacer {
  flex: 1 1 auto;
}
.toolbar-link {
  text-decoration: none;
}
.toolbar-link:hover {
  color:rgb(15, 253, 154);
 
}
.router-link-active {
  color:red;
  text-decoration: underline;
  text-decoration-color: #FD6A02;
  text-decoration-style: double;
}
.toolbar-menu-link {
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}
.toolbar-menu-link:hover {
  transition: color 0.2s ease-in-out;
  color:rgb(2, 253, 86);
}

mat-toolbar.toolbar {}