<div style="height: 100vh;">
    <mat-toolbar class="toolbar" color="primary">
      <span>
        <h2>Learning through Activity 
          <span *ngIf="onAdminPage()"> - <b>Admin</b></span>
          <span *ngIf="onTeacherPage()"> - <b>Teacher</b></span>
          <span *ngIf="onStudentPage()"> - <b>Student</b></span>
          </h2>
        </span>
  
      <span class="example-spacer"></span>
      <!-- Navigation links for big screen -->
      <div fxShow="true" fxHide.lt-md="true">
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <!-- Add admin pages here -->
        <span *ngIf="onAdminPage()">
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
              <i class="material-icons">library_books</i>Activity List</a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/addactivity']" mat-button>
              <i class="material-icons">library_add</i>Add new Activity</a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/studentlist']" mat-button>
              <i class="material-icons">account_box</i>Student List
            </a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
            Teacher
            </a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
              Student
            </a>
        </span>
         <!-- Add teacher pages here -->
        <span *ngIf="onTeacherPage()">
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
              <i class="material-icons">library_books</i>Activity List</a>     
              <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
                Admin
              </a>
              <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
                Student
              </a>
              
        
            </span>
        <!-- Add student pages here -->
        <span *ngIf="onStudentPage()">
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
              <i class="material-icons">library_add</i>Activity List</a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/enrolledlist']" mat-button>
              <i class="material-icons">library_books</i>Enrolled Activity</a>
            <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/update']" mat-button>
              <i class="material-icons">edit</i>Update information</a>
              <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
                Admin
              </a>
              <a routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
                Teacher
                </a>
            </span>
        <!-- Add misc pages here -->
        <span *ngIf="!notLogin()">
            <a mat-raised-button color="warn" class="toolbar-link" [routerLink]="['login']" mat-button>
              <i class="material-icons">home</i>Log out</a>
        </span>
      </div>
  
      <div fxShow="true" fxHide.gt-sm="true">
        <a class="toolbar-menu-link" mat-button (click)="sidenav.toggle()">
            <i *ngIf="!sidenav.opened" class="material-icons">menu</i>
            <i class="toolbar-menu-link" *ngIf="sidenav.opened" class="material-icons">menu_open</i>
        </a>
      </div>
    </mat-toolbar>
    <!-- Navigation links for small screen -->
    <mat-sidenav-container fxFlexFill class="example-container">
      <mat-sidenav #sidenav fxLayout="column">
        <div fxLayout="column">
  
          <a mat-raised-button class="toolbar-link" (click)="sidenav.toggle()" >Close</a>
          <!-- Add admin pages here -->
          <a *ngIf="onAdminPage()" routerLinkActive="router-link-active" mat-raised-button class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
            <i class="material-icons">library_books</i>Activity List</a>
          <a *ngIf="onAdminPage()" routerLinkActive="router-link-active" mat-raised-button class="toolbar-link" [routerLink]="['admin/addactivity']" mat-button>
            <i class="material-icons">library_add</i>Add new Activity</a>
          <a *ngIf="onAdminPage()" routerLinkActive="router-link-active" mat-raised-button class="toolbar-link" [routerLink]="['admin/studentlist']" mat-button>
            <i class="material-icons">account_box</i>Student List
          </a>
          <a *ngIf="onAdminPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
            Teacher
            </a>
            <a *ngIf="onAdminPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
              Student
            </a>
          <!-- Add teacher pages here -->
          <a *ngIf="onTeacherPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
            <i class="material-icons">library_books</i>Activity List</a>
            <a *ngIf="onTeacherPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
              Admin
            </a>
            <a *ngIf="onTeacherPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
              Student
            </a>     
          <!-- Add student pages here -->
          <a *ngIf="onStudentPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/viewlist']" mat-button>
            <i class="material-icons">library_add</i>Activity List</a>
          <a *ngIf="onStudentPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/enrolledlist']" mat-button>
            <i class="material-icons">library_books</i>Enrolled Activity</a>
          <a *ngIf="onStudentPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['student/update']" mat-button>
            <i class="material-icons">edit</i>Update information</a>
            <a *ngIf="onStudentPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['admin/activitylist']" mat-button>
              Admin
            </a>
            <a *ngIf="onStudentPage()" routerLinkActive="router-link-active" class="toolbar-link" [routerLink]="['teacher/activitylist']" mat-button>
              Teacher
              </a>
          <!-- Add misc pages here -->
            <a *ngIf="!notLogin()" (click)="sidenav.close()"mat-raised-button color="warn" class="toolbar-link" [routerLink]="['login']" mat-button>
              <i class="material-icons">home</i>Log out</a>
     
          

        </div>
      </mat-sidenav>
      <!-- Content is here -->
      <mat-sidenav-content fxFlexFill>
          <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
   
  </div>
