<div class="mat-elevation-z8">
  <!-- <div *ngIf="loading" class="loading-indicator">
      <mat-spinner></mat-spinner>
    </div> -->
    <!-- Date filter block -->
    <form class="date-block" [formGroup]="filterForm">
        <div class="date-block__list">
          <mat-form-field>
            <input matInput 
              [matDatepicker]="fromDate" 
              placeholder="Register from Date (MM/DD/YYYY)" 
              formControlName="fromDate"
              >     
            <mat-datepicker-toggle matSuffix [for]="fromDate"></mat-datepicker-toggle>
            <mat-datepicker #fromDate></mat-datepicker>
          </mat-form-field>
        </div>
          <div class="date-block__list">
          <mat-form-field>
            <input matInput 
              [matDatepicker]="toDate" 
              placeholder="Register to Date (MM/DD/YYYY)" 
              formControlName="toDate">
            <mat-datepicker-toggle matSuffix [for]="toDate"></mat-datepicker-toggle>
            <mat-datepicker #toDate></mat-datepicker>
          </mat-form-field>
        </div>
         <button [disabled]="!filterForm.valid" mat-button color="primary" class="primary" (click)="getDateRange(filterForm.value)">Submit</button>
      </form>
    <!-- Name filter block -->
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search for activity by name">
  </mat-form-field>
  <table mat-table #table  matSort aria-label="Elements">
    <!-- Id Column -->
    <ng-container matColumnDef="id" >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
      <td mat-cell *matCellDef="let activity">{{activity.id}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Name of the activity Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Activity name</th>
      <td mat-cell *matCellDef="let activity">{{activity.name}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Location of the activity Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef >Location</th>
      <td mat-cell *matCellDef="let activity">{{activity.location}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Host eacher Column -->
    <ng-container matColumnDef="hostTeacher">
      <th mat-header-cell *matHeaderCellDef >Host</th>
      <td mat-cell *matCellDef="let activity">{{ getHostTeacher(activity.hostTeacher) }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
     <!-- Register Time start Column -->
     <ng-container matColumnDef="regisPeriodStart">
      <th mat-header-cell *matHeaderCellDef >Register period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodStart | date }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
    <!-- Register Time end Column -->
    <ng-container matColumnDef="regisPeriodEnd">
      <th mat-header-cell *matHeaderCellDef >Register period end</th>
      <td mat-cell *matCellDef="let activity">{{activity.regisPeriodEnd | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
   <!--Activity Time start Column -->
    <ng-container matColumnDef="activityPeriodStart">
      <th mat-header-cell *matHeaderCellDef >Activity period start</th>
      <td mat-cell *matCellDef="let activity">{{activity.activityPeriodStart | date}}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
  <!--Activity Time end Column -->
      <ng-container matColumnDef="activityPeriodEnd">
        <th mat-header-cell *matHeaderCellDef >Activity period end</th>
        <td mat-cell *matCellDef="let activity">{{activity.activityPeriodEnd | date}}</td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  <!-- Edit info column -->
     <ng-container matColumnDef="update">
        <th mat-header-cell *matHeaderCellDef >Update</th>
        <td mat-cell *matCellDef="let activity">
          <button class="btn btn-info" (click)="routeToEditPage(activity.id)">Update</button>
        </td>
        <td mat-footer-cell *matFooterCellDef></td>
      </ng-container>
  <!-- Students column -->
     <ng-container matColumnDef="students">
      <th mat-header-cell *matHeaderCellDef >Students</th>
      <td mat-cell *matCellDef="let activity">
        <button class="btn btn-warning" (click)="routeToStudentListPage(activity.id)">Students</button>
      </td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>
   
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
  </table>

  <mat-paginator #paginator [length]="dataSource?.data?.length" [pageIndex]="0" [pageSize]="50"
    [pageSizeOptions]="[25, 50]">
  </mat-paginator>
</div>
