
<div mat-dialog-content>
  <p>Your information has been updated!</p>
</div>
<div mat-dialog-actions >
  <button class="btn btn-default center-block" cdkFocusInitial mat-button (click)="dismiss()">Dismiss</button>
  
</div>
