<div class="container">
<mat-card class="login-card" style="text-align: center;">
    
      <mat-card-title >Log in</mat-card-title>
      <mat-divider></mat-divider>
    <form class="example-form" [formGroup]="form" (submit)="submit()">
        <mat-card-content class="p-2">
          <mat-form-field class="full-width">
            <input matInput type="email" formControlName="email" placeholder="Email" required>
          </mat-form-field>
  
          <mat-form-field class="full-width">
            <input matInput type="password"  formControlName="password" placeholder="Password" required>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button color="primary" [disabled]="!form.valid" mat-raised-button >Log in</button>
          </mat-card-actions>
    </form>
    
    <mat-divider></mat-divider>
        <mat-card-content class="p-2">
            <p>
                First time using this? Sign up here
            </p>
            <mat-card-actions>
                <button color="primary" mat-raised-button [routerLink]="['../register']">Sign up as Student</button>
            </mat-card-actions>
        </mat-card-content>
  </mat-card>
</div>