<mat-toolbar>
    <mat-toolbar-row>
        <span>Update Student Information</span>
    </mat-toolbar-row>
</mat-toolbar>
<form style="margin-left: 1em" [formGroup]="form" (submit)="submit()">
    <mat-form-field class="full-width">
        <input matInput placeholder="Student Id" [value]="student?.studentId" formControlName="studentId" required #spy>
    </mat-form-field>
    <!-- <br>TODO: remove this: {{spy.className}}-->
    <table class="full-width" cellspacing="0">
        <tr>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Firstname" [value]="student?.name" formControlName="name" required>
                    <mat-error *ngFor="let validation of validation_messages.name">
                        <mat-error class="error-message" *ngIf="form.get('name').hasError(validation.type) &&
                            (form.get('name').dirty ||
                            form.get('name').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
            <td>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Surname" [value]="student?.surname" formControlName="surname" required>
                    <mat-error *ngFor="let validation of validation_messages.surname">
                        <mat-error class="error-message" *ngIf="form.get('surname').hasError(validation.type) &&
                            (form.get('surname').dirty ||
                            form.get('surname').touched)">{{validation.message}}</mat-error>
                    </mat-error>
                </mat-form-field>
            </td>
        </tr>
    </table>
    <span>
        <mat-form-field class="full-width">
            <input readonly matInput placeholder="Date of Birth" [min]="minDate" [value]="student?.dob" [max]="maxDate"
                [matDatepicker]="picker" formControlName="dob" required>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </span>
    <mat-form-field class="full-width">
        <input matInput placeholder="Email" [value]="student?.email" formControlName="email">
        <mat-error *ngFor="let validation of validation_messages.email">
            <mat-error class="error-message" *ngIf="form.get('email').hasError(validation.type) &&
                (form.get('email').dirty ||
                form.get('email').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input textarea matInput placeholder="Password" [value]="student?.password" formControlName="password">
        <mat-error *ngFor="let validation of validation_messages.password">
            <mat-error class="error-message" *ngIf="form.get('password').hasError(validation.type) &&
                (form.get('password').dirty ||
                form.get('password').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="full-width">
        <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" required>
        <mat-error *ngFor="let validation of validation_messages.confirmPassword">
            <mat-error class="error-message" *ngIf="form.get('confirmPassword').hasError(validation.type) &&
                    (form.get('confirmPassword').dirty ||
                    form.get('confirmPassword').touched)">{{validation.message}}</mat-error>
        </mat-error>
    </mat-form-field>
    <!-- Image input Field -->
    <div class="row">
        <div class="col-sm-7">
            <mat-form-field hintLabel="Input your image so Admin knows what you look like!" class="full-width">
                <input matInput placeholder="Image URL" [value]="student?.image" formControlName="image">
            </mat-form-field>
        </div>
        <div class="col-sm-5">
            <button type="button" mat-raised-button class="primary m-2" (click)="previewImage()">Preview</button>
        </div>
        <div class="w-100"></div>
        <div class="col-sm-12">
            <div class="text-center">
                <img mat-card-image id="previewImg" class="rounded float" #previewImg [attr.src]="imgsrc"
                    onerror="this.src='assets/images/person-icon.png'">
            </div>
        </div>
    </div>

    <div class="center">
        <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Update</button>
    </div>
</form>