#previewImg {
    max-height: 500px;
    max-width:  15rem;
    margin: 2rem;
    border: 2px pink solid;
}
.full-width {
	width: 100%;
}
.register-card {
    max-width: 1500px;
    margin: auto;
    margin-top: 5%;
}
.example-form {
    min-width: 200px;
    max-width: 800px;
    
}
