<div class="container">

        <mat-card class="register-card" style="text-align: center;">
    
                <mat-card-title >Register your information</mat-card-title>
                <mat-divider></mat-divider>
                <mat-card-content class="p-2">
                <form style="margin: 1em" [formGroup]="form" (submit)="submit()">
                <!-- Student Id field -->
                <div class="row">
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                    <input matInput placeholder="Student Id" formControlName="studentId" required #spy>
                                    <mat-error *ngFor="let validation of validation_messages.studentId">
                                            <mat-error class="error-message"
                                            *ngIf="form.get('studentId').hasError(validation.type) &&
                                            (form.get('studentId').dirty ||
                                            form.get('studentId').touched)">{{validation.message}}</mat-error>
                                          </mat-error>
                                </mat-form-field>
                        </div>
                        <div class="col-sm">
                            <!--<button type="button" mat-raised-button class="center-button m-2" (click)="checkStudentId()">Validate Id</button>-->
                        </div>
                        <div class="col-sm">
                         
                        </div>
                </div>
                <!-- Name and surname Fields -->
                <div class="row">
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <input matInput placeholder="First name" formControlName="name" required>
                                        <mat-error *ngFor="let validation of validation_messages.name">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('name').hasError(validation.type) &&
                                                (form.get('name').dirty ||
                                                form.get('name').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                </mat-form-field>
                        </div>
                        <div class="col-sm">
                                <mat-form-field class="full-width">
                                        <input matInput placeholder="Surname" formControlName="surname" required>
                                        <mat-error *ngFor="let validation of validation_messages.surname">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('surname').hasError(validation.type) &&
                                                (form.get('surname').dirty ||
                                                form.get('surname').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                </mat-form-field>
                        </div>
                </div>
                <!-- Email Field -->
                <div class="row">
                        <div class="col-sm-6">
                                <mat-form-field class="full-width">
                                        <input matInput placeholder="Email" formControlName="email" type="email" email required>
                                        <mat-error *ngFor="let validation of validation_messages.email">
                                                <mat-error class="error-message"
                                                *ngIf="form.get('email').hasError(validation.type) &&
                                                (form.get('email').dirty ||
                                                form.get('email').touched)">{{validation.message}}</mat-error>
                                              </mat-error>
                                </mat-form-field>
                        </div>
                        <div class="col-sm-6">
                            <span>
                                <mat-form-field class="full-width">
                                <input readonly matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="dob" placeholder="Select your date of birth" required>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                            </span>
                        </div>
                </div>
                <!-- Password and confirm password Field -->
                <div class="row">
                    <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Password" formControlName="password" type="password" required>
                                <mat-error *ngFor="let validation of validation_messages.password">
                                        <mat-error class="error-message"
                                        *ngIf="form.get('password').hasError(validation.type) &&
                                        (form.get('password').dirty ||
                                        form.get('password').touched)">{{validation.message}}</mat-error>
                                      </mat-error>
                            </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                            <mat-form-field class="full-width">
                                <input matInput placeholder="Confirm password" formControlName="confirmPassword" type="password" required>
                                <mat-error *ngFor="let validation of validation_messages.confirmPassword">
                                        <mat-error class="error-message"
                                        *ngIf="form.get('confirmPassword').hasError(validation.type) &&
                                        (form.get('confirmPassword').dirty ||
                                        form.get('confirmPassword').touched)">{{validation.message}}</mat-error>
                                      </mat-error>
                            </mat-form-field>
                    </div>
                </div>
                <!-- Image input Field -->
                <div class="row">
                        <div class="col-sm-9">
                                <mat-form-field hintLabel="Input your image so Admin knows what you look like!" class="full-width">
                                        <input matInput placeholder="Image URL" formControlName="image">
                                </mat-form-field>
                        </div>
                           
                        <div class="w-100"></div>
                        <div class="col-sm-12">
                          
                        </div>     
                </div>
                
                        
            <mat-divider></mat-divider>
                        <!-- Submit button -->
                        <div class="center p-4">
                            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" >Submit</button>
                        </div>
                    
                      </form>
                    </mat-card-content>
              
          
            </mat-card>

</div>